@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

body {
  background-color: #55e6c1;
  font-family: "Dongle", sans-serif;
}

@mixin button($color) {
  cursor: pointer;
  background-color: $color;
  transition: 0.5s;
  border-radius: 15%;
  text-align: center;
  font-family: inherit;
  &:hover {
    background-color: whitesmoke;
  }
}

button {
  @include button(#b33771);
}

.entries-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
  li {
    margin: 1% 1%;
    width: 20%;
    border-radius: 5%;
    background-color: #1b9cfc;
    transition: 0.5s;
    &:hover {
      background-color: #3b3b98;
      color: #bdc581;
    }
  }
}

.entry-display {
  background-color: #fd7272;
  color: #eab543;
  border-radius: 15%;
  text-align: center;
  position: absolute;
  top: 10%;
  h1 {
    font-size: 5rem;
    margin-bottom: 1%;
    border-bottom: cadetblue 3px dotted;
  }
  .pso {
    font-size: 1.5rem;
    color: black;
  }
  .def {
    font-size: 2rem;
  }
}

input {
  transition: 0.5s;
  outline: none;
  border-radius: 5%;
  border: none;
  &:focus {
    background-color: #58b19f;
  }
  &:hover {
    background-color: #9aecdb;
  }
}

select {
  transition: 0.5s;
  outline: none;
  border-radius: 5%;
  border: none;
  &:hover {
    background-color: #d6a2e8;
  }
  &:focus {
    background-color: #fd7272;
  }
}
